@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    background: #000;
    background-image: linear-gradient(to top, rgba(0, 169, 217, .7) 0%, rgba(0, 169, 217, .5) 5%, rgba(0, 169, 217, .0) 70%);
    overflow: hidden;
}

.ball{
    animation: float 3.5s ease-in-out infinite;
    height: 250px;
    width: 250px;
    top: 200px;
    left: 100px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle at 75% 30%, white 5px, #df00ff 8%, #d89edf 60%, #df00ff 100%);
    box-shadow: inset 0 0 20px #c1aac6, inset 25px 0px 100px #8c00ff,inset 88px 8px 60px #d89edf, inset -20px 0 40px #c1aac6 ,inset 0 50px 148px #fde9ea, 0 0 90px #fde9ea;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(0px);
    }
}

.shadow{
    background: #d89edf;
    width: 180px;
    height: 40px;
    top: 70%;
    left: 130px;
    position: absolute;
    border-radius: 50%;
    animation: expand 4s infinite;
}

@keyframes expand{
    0%,
    100%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
}

.text{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 200;
    top: 540px;
    left: 130px;
    position: fixed;
    padding-bottom: 550px;
    color: #fff;
    text-shadow: 3px 3px 3px rgba(41,128,185,.8);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 750px;
    height: 650px;
    margin: 30px;
    left: 200px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content{
    padding: 20px;
    

}

.container .card .content h3{
    font-size: 1.8em;
    top: 0px;
    color: #85eff1;
    text-shadow: 3px 3px 3px rgba(41,128,185,.8);
    z-index: 1;
}

.container .card .content p{
    font-size: 1.3em;
    color: #fff;
    font-weight: 350;
    
}

.container .card .content a{
    position: relative;
    left: 280px;
    top: 40px;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
